<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dine Reserve</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="wrapper">
	 <header>
        <h1><a href="/">Dine Reserve</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                <li><a href="/logout" id="logout-link">Logout</a></li>
            </ul>
        </nav>
    </header>

		
		<main>
			{{{ body }}}
		</main>
		
		<footer>
			<div class="footer-copyright">
            <div class="container">
            <span><a href="https://github.com/justinboston/dine-reserve" target="_blank"><img src="https://pngimg.com/uploads/github/github_PNG23.png" alt="" height="40" width="auto" /></a></span>
            </div>
          </div>
    </footer>
	 <script src="/main.js"></script>	
</body>
	
</html>