<div class="row">
  <div class="col-md-6">
    <div class="demo-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="p-5 bg-white rounded shadow-lg">
          <form action="/userlogin" method="post">
            {{#if loginError}}
              <p class="error" style="color: red;">{{loginError}}</p>
            {{/if}}
            <input name="username" class="form-control " placeholder="Username" type="email" id="contact-email"  onkeyup="validateEmail()">
               <span id="email-error" style="color: red;"></span>
            <input name="password" class="form-control " placeholder="Password" type="password"  onkeyup="validatePassword()" >
             <span id="password-error" style="color: red;"></span>
            <button type="submit" class="btn btn-success btn-lg w-100 shadow-lg" onclick="return validateForm()">SIGN UP</button>
             <div id="submit-error" style="color: red;"></div>
          </form>          
        </div>        
      </div>
    </div>
  </div>
</div>